  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  background-color: #2d2d38;
  overflow: hidden;
  border-radius: 5%;
  border: none;
  box-shadow: 0 45px 25px -25px #15151c;
}

@media (max-width: 800px) {
  .main {
    max-width: 80%;
    margin: 0 auto;
  }
}
