.container {
  width: 100%;
  min-height: 90px;
  background-color: #edad61;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #fff;
}
.icon {
  height: 25px;
}
