.main {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y proximity;
}

.station {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #404244;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
.stationHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5px 15px;
  font-size: 18px;
  height: 60px;
  /* border: 1px solid red; */
}
.details {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #404244;
  height: 200px;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.icon {
  width: 30px;
  height: 30px;
}
.station:hover {
  cursor: pointer;
  color: #fff;
}
.station:last-child {
  border: none;
}
